* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}
body {
  background: var(--colorBackground);
  --fontFamilyDigital: "Orbitron", sans-serif;
  --fontFamilyEmoji: "Noto Color Emoji", sans-serif;
  --fontFamilyText: "Noto Color Emoji", "Roboto", sans-serif;

  --colorText: #36454F;
  --colorBackground: #FFF5E0;
  --colorNavy: #141E46;
  --colorRed: #BB2525;
  --colorSalmon: #FF6969;
  --colorGreen: #96C291;
}
h1, h2 {
  color: var(--colorNavy);
  font-family: var(--fontFamilyText)
}
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
}
.set-timer-display,
.set-minutes-container,
.set-seconds-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--fontFamilyText);
  gap: 0.5em;
}
.set-minutes-and-seconds-container {
  display: flex;
}
.timer-text {
  font-family: var(--fontFamilyText);
}
.timer-digits, .time-colon{
  color: var(--colorGreen);
  font-family: var(--fontFamilyDigital);
}
.button-incrementer,
.button-decrementer {
  height: 30px;
  width: 30px;
  font-family: var(--fontFamilyEmoji);
}
.timer {
  font-family: var(--fontFamilyDigital);
}
.button-timer {
   font-family: var(--fontFamilyEmoji);
   font-size: 50px;
   border: none;
   border-radius: 5px;
   background: none;
}
.button-timer:hover {
  cursor: pointer;
}
.button-timer:disabled {
  cursor: default;
}
